.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .introPod {
    height: 375px;
    align-items: center;
  }

  .introPodInner {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .introPodLower {
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: flex-start;
  }

  .pfpSect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /* margin-left: 5px; */
  }

  .pfp {
    max-width: 200px;
  }

  .name {
    color: white;
    font-style: italic;
    margin: 5px;
    -webkit-text-stroke: 2px black;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }

@media (max-width: 480px) {
    .pfp {
        width: 116px;
    }
}
  
@media (max-width: 768px) {
    .pfp{
        border-radius: 40px;
    }

    .introPod {
        border-radius: 40px 40px 0 0;
    }
}