.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .podTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .workLabels {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .workLabels p {
    margin: 0;
    font-size: 14px;
  }
  
  .headingLg {
    font-size: 2rem;
    margin: 1rem 0;
    color: #FDDDCF;
    -webkit-text-stroke: 2px black
  }

  .orngRect {
    width: 20%;
    display: block;
    height: 16px;
    background-color: #DE5230;
    border: 2px solid black;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }


  .introPod {
    /* max-width: 675px; Set this with side by side header update*/
    align-items: center;
    padding: 1rem;
    background: #00027c78;
    height: 550px;
    border: black solid 3px;
    margin-bottom: 48px;
    justify-content: center;
  }

  .introPodInner {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .introPodInner p {
    font-size: 14px;
  }

  .introPodLower {
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: flex-start;
  }

  .introPodLower div p:first-child {
    margin-top: 0px;
  }

  .introPodLower_p {
    margin-bottom: 24px;
  }

  .pfpSect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 5px;
  }

  .pfp {
    max-width: 200px;
    border-bottom: 3px solid #000;
    border-right: #d45c37 6px solid;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.15rem black);
  }

  .roles {
    padding: 0;
    position: relative;
    right: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .roles li {
    background-color: black;
    color: white;
    list-style: none;
    font-size: 14px;
    width: fit-content;
    padding: 0px 4px;
    margin: 4px;
    /* border: 1px solid #DE5230; */
  }

  .name {
    color: white;
    font-style: italic;
    -webkit-text-stroke: 2px black;
    margin: 0;
  }

  .deskName {
    position: relative;
    font-size: 64px;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
  }

  .list li:first-child {
    order: 4;
  }
  .list li:nth-child(2) {
    order: 3;
  }
  .list li:nth-child(3) {
    order: 4;
  }
  .list li:nth-child(4) {
    order: 1;
  }

  
  .listItem {
    margin: 0 0 1.25rem;
  }

  .listItem h3 {
    margin-bottom: 16px;
  }

  .workImg {
    width: 300px;
    height: 300px;
  }

  .workImg:hover {
    opacity: .8;
  }


  /* RESUME */

  .resumeContainer {
    background: #DE5230;
    border-radius: 16px;
    width: 60px;
    margin: 8px;
    height: 66px;
  }

  .resumeFlex {
      width: 30px;
      display: flex;
      color: white;
      margin: 16px 0;
  }

  .resumeIcon {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-right: 8px;
  }

  .resumeLink {
    color: white;
    font-weight: bold;
  }

  .skills {
    list-style: none;
    padding-inline-start: 0;
    margin-right: 48px;
    min-width: 200px;
  }

  .skills h3 {
    text-decoration: underline;
  }

  .skills li:first-child {
    margin-bottom: 8px;
  }

  /* ROSES */

  .roseP {
    width: 100%;
    position: relative;
    bottom: 28px;
  }

  .rosesImgCont {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .rosesImg {
    width: 800px;
    height: auto;
    margin-bottom: 48px;
    margin-right: 24px;
  }

  /* INSPO */

  .inspoCont {
    max-width: 1600px;
  }

  .inspo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .inspoText {
    width: 600px;
  }

  .inspoImgCont {
    margin-left: 8px;
    min-width: 150px;
  }

  .inspoImg {
    min-width: 90px;
    width: 284px;
    height: auto;
  }

  .inspoRev {
    flex-direction: row-reverse;
  }

  .inspoTextRev {
    padding-left: 16px;
  }

  .inspoImgContRev {
    margin-left: 0;
  }

  .contactPod {
    background-color: black;
  }

  .contactPod:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .contactLink {
    font-size: 64px;
    list-style: none;
    padding-inline-start: 0;
    margin-top: 32px;
    margin-block-end: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .contactLink li a {
    margin-bottom: 32px;
    margin-right: 32px;
    display: flex;
    align-items: center;
  }

  .contactLink li p {
    margin: 0;
  }

  .contactImg {
    margin-left: 12px;
    width: 25px;
    height: auto;
  }

  /* Show Page */

  .showPageContent {
    max-width: 816px;
    display: flex;
    flex-direction: column;
  }

  .showPageContent h1,
  .showPageContent h2 {
    -webkit-text-stroke: 0;
  }

  .showPageContent .workDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .showPageContent .workDetails .workLabels {
    background: #de5230;
    width: 40%;
    min-width: 150px;
    justify-content: center;
    padding: 4px;
  }

  .showPageContent div:last-child p:first-child {
    margin: 32px 0;
  }

  .showPageContent div:last-child p:nth-child(3) {
    float: right;
    bottom: 350px;
    position: relative;
    width: 25%;
    right: 32px;
    filter: drop-shadow(0 0 0.35rem black);
  }

  .showPageContent div:last-child h2 {
    margin-top: 48px;
    color: #FDDDCF;
  }

  .showPageContent a:hover {
    opacity: .9;
  }

  .showPageContent div:last-child ul:last-child {
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    list-style: none;
  }

  .showPageContent div:last-child ul:last-child li {
    margin: 0 32px 32px 0;
  }

  .projectImgs {
    margin-bottom: 2rem;
    
  }

  .mobImg {
    width: 225px;
    height: auto;
  }

@media (max-width: 480px) {

    .outerPfpSect {
        display: flex;
        height: 250px;
        align-items: flex-end;
    }

    .pfp {
        width: 116px;
    }

    .pfpSect {
      margin-left: 0;
    }

    .deskName {
        display: none;
    }

    .inspoCont {
      font-size: 14px
    }

    .showPageContent div:last-child p:nth-child(3) {
      bottom: 150px;
      right: 16px;
    }
}

@media (min-width: 550px) {
.introPodInner p {
  font-size: 16px;
}

.list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (min-width: 655px) {
  .introPod {
    padding: 2rem !important;
  }

  .pfpSect {
    margin-left: 16px;
  }

  .showPageContent .workDetails {
    flex-direction: row;
  }

  .showPageContent .workDetails .workLabels {
    margin-left: 25px;
  }

  .showPageContent div:last-child p:first-child {
    margin: 8px 0 32px 0;
  }

}

@media (min-width: 769px) {

  .headingLg {
    font-size: 3rem;
  }

  .resumeContainer {
    width: 86px;
    margin: 8px;
    height: 80px;
  }

    .resumeFlex {
      width: 40px;
  }

  .resumeLink {
    font-size: 2rem;
  }

  .inspoImgCont {
    display: flex;
   }
   
   .inspoImg {
    height: 250px;
   }

   .inspoRev {
    flex-direction: row-reverse;
  }

  .inspoTextRev {
    padding-left: 16px;
  }

  .inspoImgContRev {
    margin-left: 0;
    margin-right: 8px;
  }
}
  
@media (max-width: 768px) {
    .pfp{
        border-radius: 40px;
    }

    .introPod {
        border-radius: 40px 40px 0 0;
    }

    .contactPod {
        border-radius: 0 0 40px 40px;
    }

    .inspoImg {
      height: 112.5px;
    }
}

@media (min-width: 481px) {
    .roles {
        margin: 0;
    }

    .mobileName {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .deskName {
        font-size: 48px;
        width: fit-content;
    }

    .pfp {
      max-width: 180px;
    }

    .showPageContent div:last-child p:nth-child(3) {
      bottom: 200px;
      right: 24px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

  .showPageContent div:last-child p:nth-child(3) {
      bottom: 250px;
      right: 28px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {

  .inspoImgCont {
    min-width: 400px;
  }
}

@media (min-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .workDetails {
    max-width: 816px;
  }

  .projectImgs {
    display: flex; 
  }

  .firstImg {
    margin-right: 16px;
  }

  .inspoImgCont {
    min-width: 500px;
  }
}

@media (min-width: 1200px) {
  .inspoImg {
    width: 375px;
  }
}

@media (min-width: 1350px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1550px) {
  .inspo {
    align-items: center;
  }
}